
    <section class="content-header">
	
		<div class="card">
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Docker Run</h3>
  <div class="container" style="width:792px;height:400px;">
	
       <div class="row">
        <div class="col-lg-6">

            <form role="form">
				<br>
				<fieldset class="form-group">
                    <label>Docker Image Name:</label>
                    <input class="form-control" ng-model="img" style="display: inline-block;position:absolute;left:220px;">
                </fieldset>
            </form>
<br>
			<div class="pull-right" style="position:absolute;left:5px;">
                                <md-button class="md-raised md-primary" type="submit" data-ng-click="vm.submitForm();"> Docker Run</md-button>
                            </div><br>
							<div ng-if="results" style="position:absolute;left:360px;">
{{fetcheddata}}
 <button ng-click="close()">close</button>
</div>
			
        </div>
    </div>
	</div>
	</div>
    </section>

