
    <section class="content-header">
       <div class="row">
        <div class="col-lg-6">
		<button class="hover" style="background-color: #b3d9ff;border: none;color: black;padding: 20px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;width:35%;border-radius: 50%;" ng-click="pullImage()" >PULL IMAGE</button>
		<button class="hover" style="position:absolute;left:240px;background-color: #b3d9ff;border: none;color: black;padding: 20px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;width:35%;border-radius: 50%;" ng-click="pushImage()">PUSH IMAGE</button>
		<br>
		<br>
		<div ng-show="pulldiv">
		<fieldset class="form-group">
                    <label>Image Name:</label>
                    <input class="form-control" ng-model="importimg" style="display: inline-block;position:absolute;left:220px;">
                </fieldset>
				<fieldset class="form-group">
                    <label>Registry:</label>
                    <input class="form-control" ng-model="registry" style="display: inline-block;position:absolute;left:220px;">
                </fieldset>
				<fieldset class="form-group">
                    <label>Project Name:</label>
                    <input class="form-control" ng-model="ocproj" style="display: inline-block;position:absolute;left:220px;">
                </fieldset>
				<div style="position:absolute;left:10px;">
                                <md-button class="md-raised md-primary" type="submit" data-ng-click="vm.submitPullForm();"> Pull / Import</md-button>
                            </div><br>
							<div ng-if="pullresults" style="position:absolute;left:360px;">
{{fetchedpulldata}}
 <button ng-click="close()">close</button>
</div>
		</div>
		<div ng-show="pushdiv">
		<fieldset class="form-group">
                    <label>Image Name:</label>
                    <input class="form-control" ng-model="img" style="display: inline-block;position:absolute;left:220px;">
                </fieldset>
				<br>
				<fieldset class="form-group">
                    <label>Project Name:</label>
                    <input class="form-control" ng-model="proj" style="display: inline-block;position:absolute;left:220px;">
                </fieldset>
				<br>
				<fieldset class="form-group">
                    <label>Target Image Name:</label>
                    <input class="form-control" ng-model="targetimg" style="display: inline-block;position:absolute;left:220px;">
                </fieldset>
				<div style="position:absolute;left:10px;">
                                <md-button class="md-raised md-primary" type="submit" data-ng-click="vm.submitPushForm();"> Push / Publish</md-button>
                            </div>><br>
							<div ng-if="results" style="position:absolute;left:360px;">
{{fetcheddata}}
 <button ng-click="close()">close</button>
</div>
		</div>
<!-- <h3>Pull Image</h3>
            <form role="form">
				
				<fieldset class="form-group">
                    <label>Name:</label>
                    <input class="form-control">
                </fieldset>
				
				
			<div style="position:absolute;left:160px;top:120px;">
                                <md-button class="md-raised md-primary" type="submit"> Pull Image</md-button>
                            </div> -->
							<br>
							<!-- <h3>Image Repositories</h3>
							
							
							
							<div style="position:absolute;left:10px;top:200px;">
                                <md-button class="md-raised md-primary" type="submit" ng-click=localImage()> Local Image</md-button>
                            </div>
							
							<div style="position:absolute;left:120px;top:200px;">
                                <md-button class="md-raised md-primary" type="submit" ng-click=dockerImage()> Docker Image</md-button>
                            </div> -->
            </form>
			<!-- <div ng-if="local" style="position:absolute;left:10px;top:250px;">
<table style="width:100%;border: 1px solid black;border-collapse: collapse;">
  <tr>
    <th style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">Name</th>
    <th style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">Repo</th> 
    <th style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">Tags</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">TestImage</td>
    <td style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">170.30.22.2.1.1000/testproject/testapp</td>
    <td style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">Latest</td>
  </tr>
</table>
			</div>
			<div ng-if="docker" style="position:absolute;left:10px;top:250px;">
<table style="width:100%;border: 1px solid black;border-collapse: collapse;">
  <tr>
    <th style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">Repository</th>
    <th style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">Tag</th> 
    <th style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">ImageId</th>
	<th style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">Size</th>
  </tr>
  <tr>
    <td style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">170.30.22.2.1.1000/ImageOne</td>
    <td style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">1.1</td>
    <td style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">cc7def2t</td>
	<td style="border: 1px solid black;border-collapse: collapse;padding: 15px;text-align: left;">1.2GB</td>
  </tr>
</table>
<br>
<div style="position:absolute;left:220px;">
                                <md-button class="md-raised md-primary" type="submit" ng-click=dockerImage()> Tag/Publish</md-button>
                            </div>
			</div> -->
        </div>
    </div>
    </section>

